<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_robot_config" default="$(find cob_default_robot_config)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

	<!-- start dashboard -->
	<node pkg="cob_dashboard" type="cob_dashboard" name="$(anon dashboard_node)" cwd="node" respawn="false" output="screen" />

	<param name="/script_server/cobvid/service_ns" value="/scenario"/>

	<!-- start command_gui -->
	<node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
		<!-- upload button parameters -->
		<rosparam ns="control_buttons" command="load" file="$(find cobvid)/config/command_gui_buttons_scene_ctrl_berlin.yaml"/>
		<rosparam ns="control_buttons" command="load" file="$(find cobvid)/config/command_gui_buttons_service_ctrl.yaml"/>
		<rosparam ns="nav_buttons" command="load" file="$(arg pkg_env_config)/$(arg robot_env)/command_gui_buttons.yaml"/>
	</node>

</launch>
